.menuButton{
    background: none;
    border: none;
    padding :3px;
    display: flex;
    cursor: pointer;
}

@media (min-width:768px){
    .menuButton{
        display: none;
    }
}

@media (min-width: 992px){
}
