/*Small screen*/
.formcovid__container{
    padding: 4rem 2rem;
    background-color: #F8F9FA;
}

.formcvoid{
    display: flex;
    flex-direction: column;
}

.formcovid__left{
    display: none;
    margin-right: 5rem;
}

.formcovid__image{
    max-width: 100%;
    border: 10px;
    height: auto;
    margin-top:3rem;
}

.formcovid__title{
    text-align: center;
    color:#06D6A0;
    font-size: 2.44rem;
    margin-bottom: 2px;
    font-weight: 500;
}

.formcovid__group{
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    margin-top: 1rem;
}

.formcovid__label{
    font-weight: 400;
    margin-bottom: 2px;
    color: #64748B;
}

.formcovid__input,.formcovid__select{
    outline: none;
    padding: 1rem 0.5rem;
    border-radius: 8px;
    border: 1px solid #06D6A0;
}
.formcovid__select{
    background-color: #fff;
}

.formcovid__button{
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: #06D6A0;
    color: white;
    display: block;
    margin-top: 2rem;
    width: 100%;
}

/* Medium Screen */
@media(min-width: 768px){
    .formcovid__left{
        display: none;
    }
}

@media (min-width:992px) {
    .formcovid__container{
        /* max-width: 1200px; */
        padding-right: 200px;
        padding-left: 200px;
    }

    .formcvoid{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .formcovid__left{
        display: block;
        flex-basis: 60%;
        padding-right: 5%;
    }

    .formcovid__right{
        flex-basis: 40%;
    }
}
