.data__status{
    margin-top: 10px;
    font-size: 2.441rem;
    color:#073B4C;
    font-family: 'Popins';
    font-weight: 500;
}

.data__jumlah{
    font-size: 1.815rem;
    text-align: center;
    margin-top: -0.5em;
    font-family: 'Popins';
    font-weight: 500;
}

.data__container {
    box-shadow: 0 3px 20px rgba(0, 0, 0,0.3);
    border-radius: 12px;
    padding: 30px;
    margin-top: 30px;
    width: 100%;
    height: auto;
}

@media(min-width:768px){
    .data__container{
        margin-left: 40px;
    }
}

@media(min-width:992px){
    .data__container{
        margin-left: 70px;
        width: 300px;
        height: 230px;
    }
}
