.navbar__menu_mobile{
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
}

@media (min-width:768px){
    .navbar__menu_mobile{
        display: none;
    }
}

@media (min-width: 992px){
    .navbar__menu_mobile{
        display: none;
    }
}
