.provinsi__container {
    /* margin: 3rem auto; */
    background-color: #FFFF;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.provinsi__section {
    text-align: center;
    padding-bottom: 5%;
    min-width: 100%;
    overflow: scroll;
}

.provinsi__title {
    color: #06D6A0;
    font-size: 2.44rem;
    margin-top: 1rem;
}

.provinsi__subtitle {
    color: #118AB2;
}

.provinsi__table {
    max-width: 800px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #64748B;
}

th {
    color: #06D6A0;
    background-color: #f2f2f2;
}

tbody {
    text-align: center;
}
@media(min-width:768px){
    .provinsi__section {
        overflow : hidden;
    }
}

@media(min-width:992px){

}
