/* Small Screen */
.navbar__container {
    background-color: #06D6A0;
    padding: 2rem;
    color: #fff;
    padding-right: 9%;
    padding-left: 6%;
  }

  .navbar__section {
    display: flex;
    flex-direction: column;
  }

  .navbar__brand {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom:0;
    cursor: pointer;
  }

  .navbar__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top:1rem;
  }

  .navbar__right{
    display: flex;
  }
  .navbar__right_hide{
    display: none;
  }

  .navbar__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__item {
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: 400;
  }

  /* Medium Screen */
  @media (min-width: 768px) {
    .navbar__container  {
        padding-right: 20%;
    }

    .navbar__section {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .navbar__brand {
      margin-bottom: 0;
    }

    .navbar__list {
      flex-direction: row;
    }

    .navbar__item {
      margin: 0 1rem;
    }
  }

  @media (min-width: 992px) {

  }
